@model CourseDepartment
@{
	ViewData["Title"] = "Index";
}
<h1>Here is the list of Courses</h1>

<form asp-action="updateDept" asp-controller="Department">

	<input type= "hidden" value = "@Model.department.Id" name="deptId"/>
	<h4 class="m-2 alert alert-primary">Courses In Departments</h4>

	<select name="InCourse" class="form-control form-control-sm m-2" multiple>
		@foreach (Course s in Model.CourseInDept)
		{
			<option value="@s.id">
				@s.Name
			</option>
		}
	</select>

	<h4 class="m-2 alert alert-info"> Courses Not In Departments</h4>

	<select name="NotInCourse" class="form-control form-control-sm m-2" multiple>
		@foreach (Course s in Model.CourseNotInDept)
		{
			<option value="@s.id">
				@s.Name
			</option>
		}
	</select>

	<input class="m-2 btn btn-outline-info" type="submit" value="Change" />
</form>
